{%-  set module_env = module %}
# Module {{ module_env+'-root' }} config
module "{{ module_env+'-root' }}" {
  source      = "../../root"
  environment = "{{ module_env }}"
{%-   include 'environments/environment_vars.j2' %}
}
{%-  for module in args.modules %}
{%-    if module != 'root' %}
# Module {{ module_env+'-'+module }} config
module "{{ module_env+'-'+module }}" {
  source      = "../../modules/{{ module }}"
  environment = "{{ module_env }}"
{%-   include 'environments/environment_vars.j2' %}
}
{%-    endif %}
{%-  endfor -%}
