{%- if not args.backends.remote or (args.backends.remote and args.backends.remote == {}) %}
{%-   if args.backends.local %}
# Backend local config
terraform {
  backend "local" {
    path = "{{ args.backends.local.path }}"
  }
}
{%-   endif %}
{%- else %}
{%-   if args.backends.remote.consul %}
{%-     include 'backends/consul.j2' %}
{%-   elif args.backends.remote.terraform_cloud %}
{%-     include 'backends/terraform_cloud.j2' %}
{%-   endif %}
{%- endif %}
