{%-  for vm, vm_config in rg_config.vms.items() %}
{%-    if vm_config.public_ip %}
{%-      include 'providers/azurerm/resources/azurerm_public_ip.j2' %}
{%-    endif %}
{%-    include 'providers/azurerm/resources/azurerm_network_interface.j2' %}
{%-    set memory = (vm_config.memory|default(1024)/1024)|round|int|string %}
{%-    set cpus = (vm_config.num_cpus)|default(1)|string %}
{%-    if cpus|int == 1 and memory|int < 1 %}
{%-      set vm_size = 'Standard_B1ls' %}
{%-    elif cpus|int == 1 and memory|int < 2 %}
{%-      set vm_size = 'Standard_B1s' %}
{%-    elif cpus|int == 1 and memory|int <= 2 %}
{%-      set vm_size = 'Standard_B1ms' %}
{%-    elif cpus|int == 2 and memory|int <= 4 %}
{%-      set vm_size = 'Standard_B2s' %}
{%-    elif cpus|int == 2 and memory|int <= 8 %}
{%-      set vm_size = 'Standard_B2s' %}
{%-    else %}
{%-      set vm_size = 'Standard_B1s' %}
{%-    endif %}
{%-    if provider_config.resources.images[vm_config.image]['os']|lower == 'linux' %}
{%-      include 'providers/azurerm/resources/azurerm_linux_virtual_machine.j2' %}
{%-    endif %}
{%-  endfor %}
