{%- for environment in args.environments %}
# Module {{ environment }} config
module "{{ environment }}" {
  source            = "./environments/{{ environment }}"
{%-  include 'project_root/environment_vars.j2' %}
}
{%- endfor %}
