{%- if fw_config and fw_config.tags %}
{%-   for tag in fw_config.tags %}
{%-     if module in fw_config.modules %}
# Resource {{ provider }} tag
resource "digitalocean_tag" "{{ tag|replace('-','_') }}" {
  name = "{{ tag }}"
}
{%-     endif %}
{%-   endfor %}
{%- endif %}
{%- if proj_config and proj_config.tags %}
{%-   for tag in proj_config.tags %}
# Resource {{ provider }} tag
resource "digitalocean_tag" "{{ tag|replace('-','_') }}" {
  name = "{{ tag }}"
}
{%-   endfor %}
{%- endif %}
