{%- if provider_config.resources.firewalls %}
{%-   for fw, fw_config in provider_config.resources.firewalls.items() %}
{%-     set fw_tags = [] %}
{%-     if module in fw_config.modules %}
{%-       if fw_config.tags %}
{%-         for tag in fw_config.tags %}
{%-           if tag not in module_tags %}
{%-             set _ = module_tags.append(tag) %}
{%-           endif %}
{%-           set tag_id = 'digitalocean_tag.'+tag|replace('-','_')+'.id' %}
{%-           set _ = fw_tags.append(tag_id) %}
{%-           set tag_id_env = 'digitalocean_tag.'+tag|replace('-','_')+'_env.id' %}
{%-           set _ = fw_tags.append(tag_id_env) %}
{%-         endfor %}
{%-       endif %}
{%-       set fw_resources = [] %}
{%-       if provider_config.resources.vms %}
{%-         for vm, vm_config in provider_config.resources.vms.items() %}
{%-           if vm_config.module == module %}
{%-             if vm_config.firewall and vm_config.firewall == fw %}
{%-               set _ = fw_resources.append('digitalocean_droplet.'+vm|replace('-','_')+'.*.id') %}
{%-             endif %}
{%-           endif %}
{%-         endfor %}
{%-       endif %}
# Resource {{ provider }} firewall
resource "digitalocean_firewall" "{{ fw|replace('-','_') }}" {
  name        = format("{{ fw_config.name+'-'+module }}-%s", var.environment)
{%-       if fw_resources != [] %}
  droplet_ids = concat({{ fw_resources|join(', ') }})
{%-       endif %}
  tags        = {{ fw_tags|replace('\'', '') }}

{%-       for rule in fw_config.rules %}
{%-         if rule.direction == 'inbound' %}
  inbound_rule {
    protocol         = "{{ rule.protocol }}"
{%-           if rule.port_range %}
    port_range       = "{{ rule.port_range }}"
{%-           endif %}
    source_addresses = {{ rule.source_addresses|replace('\'','"') }}
  }
{%-         elif rule.direction == 'outbound' %}
  outbound_rule {
    protocol              = "{{ rule.protocol }}"
{%-           if rule.port_range %}
    port_range            = "{{ rule.port_range }}"
{%-           endif %}
    destination_addresses = {{ rule.destination_addresses|replace('\'','"') }}
  }
{%-         endif %}
{%-       endfor %}
}
{%-     endif %}
{%-   endfor %}
{%- endif %}
