{%- set module_tags = [] %}
{%- set project_resources = [] %}
{%- include 'providers/digitalocean/resources/digitalocean_firewall.j2' %}
{%- include 'providers/digitalocean/resources/digitalocean_droplet.j2' %}
{%- include 'providers/digitalocean/resources/digitalocean_vpc.j2' %}
{%- include 'providers/digitalocean/resources/digitalocean_domain.j2' %}
{%- include 'providers/digitalocean/resources/digitalocean_record.j2' %}
{%- include 'providers/digitalocean/resources/digitalocean_loadbalancer.j2' %}
{%- include 'providers/digitalocean/resources/digitalocean_project.j2' %}
{%- include 'providers/digitalocean/resources/digitalocean_tag.j2' %}
