{%- if provider_config.resources.firewalls %}
{%-   include 'providers/digitalocean/resources/digitalocean_firewall.j2' %}
{%- endif %}
{%- if provider_config.resources.vms %}
{%-   include 'providers/digitalocean/resources/digitalocean_droplet.j2' %}
{%- endif %}
{%- if provider_config.resources.projects %}
{%-   include 'providers/digitalocean/resources/digitalocean_project.j2' %}
{%- endif %}
