{%- for tag in provider_config.resources.tags %}
{%-   if tag not in do_tags %}
# Resource {{ provider }} tag
resource "digitalocean_tag" "{{ tag|replace('-','_') }}" {
  name = "{{ tag }}"
}
# Resource {{ provider }} tag
resource "digitalocean_tag" "{{ tag|replace('-','_')+'_env' }}" {
  name = format("{{ tag }}-%s", var.environment)
}
{%-     set _ = do_tags.append(tag) %}
{%-   endif %}
{%- endfor %}
# Resource {{ provider }} tag
resource "digitalocean_tag" "env" {
  name = format("%s", var.environment)
}
