{%- for domain, domain_config in proj_config.domains.items() %}
{%-   if domain_config.create %}
# Resource {{ provider }} domain
resource "digitalocean_domain" "{{ domain|replace('-','_')|replace('.','_') }}" {
  name = "{{ domain }}"
}
{%-     set _ = project_resources.append('digitalocean_domain.'+domain|replace('-','_')|replace('.','_')+'.urn') %}
{%-   else %}
# Data {{ provider }} domain
data "digitalocean_domain" "{{ domain|replace('-','_')|replace('.','_') }}" {
  name = "{{ domain }}"
}
{%-   endif %}
{%- endfor %}
