# Generated using https://github.com/mrlesmithjr/terraform-builder
# module: {{ module }}
{%- if module == 'root' %}
{%-   include 'backends/main.j2' %}
{%-   include 'modules/root.j2' %}
# Setting required Terraform version or greater
terraform {
  required_version = ">= {{ args.required_version }}"
}
{%- elif module in args.environments %}
{%-   include 'modules/environments.j2' %}
{%- endif %}