# Generated using https://github.com/mrlesmithjr/terraform-builder
{%- if module == 'root' %}
{%-   include 'backends/main.j2' %}
{%-   include 'modules/root.j2' %}
{%- elif module in args.environments %}
{%-   include 'modules/environments.j2' %}
{%- endif %}