# Generated using https://github.com/mrlesmithjr/terraform-builder
{%-  for provider, provider_config in args.providers.items() %}
{%-    if provider_config.resources %}
{%-      if provider == 'AzureRM' %}
{%-        include 'providers/azurerm/resources/azurerm.j2' %}
{%-     elif provider == 'DigitalOcean' %}
{%-        include 'providers/digitalocean/resources/digitalocean.j2' %}
{%-     elif provider == 'vSphere' %}
{%-        include 'providers/vsphere/resources/vsphere.j2' %}
{%-      endif %}
{%-    endif %}
{%-  endfor %}
