# Generated using https://github.com/mrlesmithjr/terraform-builder
{%- for provider, provider_config in args.providers.items() %}
{%-   if provider_config.resources %}
{%-     if provider == 'AzureRM' %}
{%-       if provider_config.resources.resource_groups %}
{%-         for rg, rg_config in provider_config.resources.resource_groups.items() %}
{%-           if rg_config.module == module %}
{%-             if rg_config.create %}
# Resource AzureRM resource group
resource "azurerm_resource_group" "{{ rg }}" {
        name     = "{{ rg }}"
        location = var.azurerm_location
}
{%-             else %}
# Data AzureRM resource group
data "azurerm_resource_group" "{{ rg }}" {
        name     = "{{ rg }}"
}
{%-             endif %}
{%-           endif %}
{%-         endfor %}
{%-       endif %}
{%-       if provider_config.resources.networks %}
{%-         for net, net_config in provider_config.resources.networks.items() %}
{%-           if net_config.module == module %}
{%-             if net_config.create %}
# Resource {{ provider }} virtual network
resource "azurerm_virtual_network" "{{ net }}" {
  name                = "{{ net }}"
  address_space       = ["{{ net_config.network }}"]
  location            = var.azurerm_location
  resource_group_name = azurerm_resource_group.{{ net_config.resource_group }}.name
}
{%-               if net_config.subnets %}
{%-                 for subnet in net_config.subnets %}
# Resource {{ provider }} subnet
resource "azurerm_subnet" "{{ net+'_subnet_'+loop.index0|string }}" {
  name                 = "{{ net+'_subnet_'+loop.index0|string }}"
  resource_group_name  = azurerm_resource_group.{{ net_config.resource_group }}.name
  virtual_network_name = azurerm_virtual_network.{{ net }}.name
  address_prefix       = "{{ subnet }}"
}
{%-                 endfor %}
{%-               endif %}
{%-             else %}
# Data {{ provider }} virtual network
data "azurerm_virtual_network" "{{ net }}" {
  name                = "{{ net }}"
}
{%-             endif %}
{%-           endif %}
{%-         endfor %}
{%-       endif %}
{%-     endif %}
{%-     if provider_config.resources.vms %}
{%-       set module_vms = [] %}
{%-       for vm, vm_config in provider_config.resources.vms.items() %}
{%-         if vm_config.module == module %}
{%-           set tags = {'digitalocean': [], 'vsphere': []} %}
{%-           set _ = module_vms.append(provider) %}
{%-           set memory = (vm_config.memory|default(1024)/1024)|round|int|string %}
{%-           set cpus = (vm_config.num_cpus)|default(1)|string %}
{%-           if provider == 'AzureRM' %}
# Resource {{ provider }} network interface
resource "azurerm_network_interface" "{{ vm }}" {
  count               = {{ vm_config.count|default(1) }}
  name                = format("{{ vm }}-%02s-nic", count.index +1)
  location            = var.azurerm_location
  resource_group_name = azurerm_resource_group.{{ provider_config.resources.networks[vm_config.network].resource_group }}.name

  ip_configuration {
    name                          = format("{{ vm }}-%02s-ip-config", count.index +1)
    subnet_id                     = azurerm_subnet.{{ vm_config.network+'_subnet_'+provider_config.resources.networks[vm_config.network].subnets.index(vm_config.subnet)|string }}.id
    private_ip_address_allocation = "Dynamic"
  }
}
{%-             if cpus|int < 2 and memory|int < 7 %}
{%-               set vm_size = 'Standard_DS1_v2' %}
{%-             elif cpus|int < 4 and memory|int < 14 %}
{%-               set vm_size = 'Standard_DS2_v2' %}
{%-             elif cpus|int < 8 and memory|int < 28 %}
{%-               set vm_size = 'Standard_DS3_v2' %}
{%-             elif cpus|int < 16 and memory|int < 56 %}
{%-               set vm_size = 'Standard_DS4_v2' %}
{%-             elif cpus|int >= 16 and memory|int >= 56 %}
{%-               set vm_size = 'Standard_DS5_v2' %}
{%-             else %}
{%-               set vm_size = 'Standard_DS1_v2' %}
{%-             endif %}
# Resource {{ provider }} virtual machine
resource "azurerm_virtual_machine" "{{ vm.split('.')[0]|replace('-','_') }}" {
    count                 = {{ vm_config.count|default(1) }}
    name                  = format("{{ vm.split('.')[0] }}-%02s-%s", count.index + 1, substr(var.environment,0,4))
    vm_size               = "{{ vm_size }}"
    location              = var.azurerm_location
    resource_group_name   = azurerm_resource_group.{{ provider_config.resources.networks[vm_config.network].resource_group }}.name
    network_interface_ids = [azurerm_network_interface.{{ vm }}[count.index].id]

    storage_image_reference {
      publisher = lookup(var.azurerm_image_reference.{{ vm_config.image }}, "publisher")
      offer     = lookup(var.azurerm_image_reference.{{ vm_config.image }}, "offer")
      sku       = lookup(var.azurerm_image_reference.{{ vm_config.image }}, "sku")
      version   = lookup(var.azurerm_image_reference.{{ vm_config.image }}, "version")
    }
    storage_os_disk {
      name              = format("{{ vm.split('.')[0] }}-%02s-%s", count.index + 1, substr(var.environment,0,4))
      caching           = "ReadWrite"
      create_option     = "FromImage"
      managed_disk_type = "Standard_LRS"
    }
}
{%-           elif provider == 'DigitalOcean' %}
# Resource {{ provider }} virtual machine
resource "digitalocean_droplet" "{{ vm.split('.')[0]|replace('-','_') }}" {
    count  = {{ vm_config.count|default(1) }}
    name   = format("{{ vm.split('.')[0] }}-%02s-%s", count.index + 1, substr(var.environment,0,4))
    image  = "{{ vm_config.image }}"
    region = var.do_region
    size   = "{{ 's-'+cpus+'vcpu-'+memory+'gb' }}"
{%-             if vm_config.tags %}
{%-               set vm_tags = [] %}
{%-               for tag in vm_config.tags %}
{%-                 set tag_id = 'digitalocean_tag.'+tag|replace('-', '_')+'.id' %}
{%                  set _ = vm_tags.append(tag_id) %}
{%-                 if tag not in tags.digitalocean %}
{%-                   set _ = tags.digitalocean.append(tag) %}
{%-                 endif %}
{%-               endfor %}
    tags   = {{ vm_tags|replace("'", "") }}
{%-             endif %}
}
{%-           elif provider == 'vSphere' %}
# Resource {{ provider }} virtual machine
resource "vsphere_virtual_machine" "{{ vm.split('.')[0]|replace('-','_') }}" {
    count            = {{ vm_config.count|default(1) }}
    name             = format("{{ vm.split('.')[0] }}-%02s-%s", count.index + 1, substr(var.environment,0,4))
    num_cpus         = {{ cpus }}
    memory           = {{ memory }}
    resource_pool_id = data.vsphere_compute_cluster.cluster.resource_pool_id
    network_interface {
      network_id = data.vsphere_network.network.id
    }
{%-             if vm_config.tags %}
{%-               set vm_tags = [] %}
{%-               for tag in vm_config.tags %}
{%-                 set tag_id = 'vsphere_tag.'+tag|replace('-', '_')+'.id' %}
{%                  set _ = vm_tags.append(tag_id) %}
{%-                 if tag not in tags.vsphere %}
{%-                   set _ = tags.vsphere.append(tag) %}
{%-                 endif %}
{%-               endfor %}
    tags   = {{ vm_tags|replace("'", "") }}
{%-             endif %}
}
{%-           endif %}
{%-           for tag in tags.digitalocean %}
# Resource DigitalOcean tag
resource "digitalocean_tag" "{{ tag|replace('-', '_') }}" {
  name = "{{ tag }}"
}
{%-           endfor %}
{%-           if tags.vsphere != [] %}
# Resource tag category as a default to contain actual vSphere tags
resource "vsphere_tag_category" "category" {
  name        = "terraform-test-category"
  description = "Managed by Terraform"
  cardinality = "SINGLE"

  associable_types = [
    "VirtualMachine",
    "Datastore",
  ]
}
{%-           endif %}
{%-           for tag in tags.vsphere %}
# Resource vSphere tag
resource "vsphere_tag" "{{ tag|replace('-', '_') }}" {
  name        = "{{ tag }}"
  category_id = vsphere_tag_category.category.id
}
{%-           endfor %}
{%-         endif %}
{%-       endfor %}
{%-       if 'AzureRM' in module_vms %}
{%-       elif 'vSphere' in module_vms %}
# Consuming existing vSphere datacenter
data "vsphere_datacenter" "dc" {
    name = var.vsphere_datacenter
}
# Consuming existing vSphere cluster
data "vsphere_compute_cluster" "cluster" {
    name = var.vsphere_compute_cluster
}
# Consuming existing vSphere network
data "vsphere_network" "network" {
    name          = var.vsphere_network
    datacenter_id = data.vsphere_datacenter.dc.id
}
{%-       endif %}
{%-     endif %}
{%-   endif %}
{%- endfor %}