# Generated using https://github.com/mrlesmithjr/terraform-builder
{%- if module == 'root' %}
{%-   for provider, provider_config in args.providers.items() -%}
{%-     if config != {} -%}
{%-       if provider_config['variables'] -%}
{%-         for variable, variable_config in provider_config['variables'].items() %}
# Variable {{ variable }} config
variable "{{ variable }}" {
{%-           for key, value in variable_config.items() %}
{%-             if key|lower == 'type' %}
    {{ key }} = {{ value }}
{%-             else %}
    {{ key }} = "{{ value }}"
{%-             endif %}
{%-           endfor %}
}
{%-         endfor %}
{%-       endif -%}
{%-     endif -%}
{%-   endfor %}
{%- endif %}