# Generated using https://github.com/mrlesmithjr/terraform-builder
{%- if module not in args.environments %}
# Variable environment to use with resources
variable "environment" {
  type    = string
  default = ""
}
{%- endif %}
{%- for provider, provider_config in args.providers.items() %}
{%-   if provider_config != {} -%}
{%-     if provider_config['variables'] -%}
{%-       set module_vars = [] %}
{%-       if provider_config.resources %}
{%-         if provider == 'AzureRM' %}
{%-           if provider_config.resources.resource_groups %}
{%-             for rg, rg_config in provider_config.resources.resource_groups.items() %}
{%-               if rg_config.module == module %}
{%-                 set _ = module_vars.append(rg_config.module) %}
{%-               endif %}
{%-             endfor %}
{%-           endif %}
{%-           elif provider == 'vSphere' %}
{%-             if provider_config.resources.datacenters %}
{%-               for dc, dc_config in provider_config.resources.datacenters.items() %}
{%-                 if dc_config.module == module %}
{%-                   set _ = module_vars.append(dc_config.module) %}
{%-                 endif %}
{%-               endfor %}
{%-             endif %}
{%-         endif %}
{%-         if provider_config.resources.vms %}
{%-           for vm, vm_config in provider_config.resources.vms.items() %}
{%-             if vm_config.module == module %}
{%-               set _ = module_vars.append(vm_config.module) %}
{%-             endif %}
{%-           endfor %}
{%-         endif %}
{%-       endif %}
{%-       if module_vars != [] %}
{%-         for variable, variable_config in provider_config['variables'].items() %}
# Variable {{ variable }} config
variable "{{ variable }}" {
{%-           for key, value in variable_config.items() %}
{%-             if key|lower == 'type' %}
    {{ key }} = {{ value }}
{%-             else %}
{%-               if value is mapping %}
    {{ key }} = {{ value|replace('\'', '\"') }}
{%-               else %}
    {{ key }} = "{{ value }}"
{%-               endif %}
{%-             endif %}
{%-           endfor %}
}
{%-         endfor %}
{%-       endif %}
{%-     endif -%}
{%-   endif -%}
{%- endfor %}