{%-  for network in dc_config.networks %}
# Data {{ provider }} network
data "vsphere_network" "{{ network|replace('-','_') }}" {
  name          = "{{ network }}"
{%-    if dc_config.create %}
  datacenter_id = vsphere_datacenter.{{ dc|replace('-','_') }}.id
{%-    else %}
  datacenter_id = data.vsphere_datacenter.{{ dc|replace('-','_') }}.id
{%-    endif %}
}
{%-  endfor %}
