{%-  for tag in tc_config.tags %}
# Resource {{ provider }} tag
resource "vsphere_tag" "{{ tag|replace('-','_') }}" {
  name        = "{{ tag }}"
  category_id = vsphere_tag_category.{{ tc|replace('-','_') }}.id
  description = "Managed by Terraform"
}
# Resource {{ provider }} tag
resource "vsphere_tag" "{{ tag|replace('-','_')+'_env' }}" {
  name = format("{{ tag }}-%s", var.environment)
  category_id = vsphere_tag_category.{{ tc|replace('-','_') }}.id
  description = "Managed by Terraform"
}
{%-  endfor %}
